*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    color: #ffffff;
    background-color: blue;
    border-radius: 20px;
}

.logo{
    flex: 1;
}
nav ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
}
main{
    padding: 1rem;
    width: 100%;
}
button{
    font-size: x-large;
    align-items: center;
    background-color: rgb(228, 168, 126);
    border-radius: 5px;
    border-color: red;
}
.movie-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.movie-holder a{
    flex: 1;
}

#loader{
    position: relative;
    height: 60px;
    width: 60px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 10px solid #ccc;
}
#loader::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: calc(100% + 22px);
    width: calc(100% + 22px);
    top: -11px;
    left: -11px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #081563 transparent transparent transparent;
    animation: rotate .6s linear infinite;
}

.movie-img-wrapper{
    background-size: cover;
    width: auto;
    height: 250px;
    border-radius: 10px;
    border: #00ff88;
}
.movie-img-wrapper:hover{
    height: 270px;
    transition: .3s linear;
}
#booker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#booker-grid-holder{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 2rem;
}
h4{
    text-align: center;
    margin: 5px;
}
.booking-grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    height: 150px;
    width: 200px;
    color: #fff;
    font-weight: 600;
}
#customer-detail-form{
    text-align: center;  
    
}
form{
    font-size: x-large;
    font-weight: 600;
    color: #000;
    
}

#confirm-purchase{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    background-color: #fcabab;
    border-radius: 10px;
    padding: 10px;
}
#success{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    background-color: #fcabab;
    border-radius: 10px;
    padding: 10px;
}

#booking-grid-undefined{
    font-size: auto;
}

.seat{
    display: grid;
    place-content: center;
    border-radius: 0px;
    /* background-color: pink; */
}
.available-seat {
        border-radius: 5px;
        background: linear-gradient(90deg, #73ff00, #00ff88);
        animation: button 1s linear infinite;
     }
     @keyframes button {
         0%{
             background: linear-gradient(0deg, #73ff00, #0079ff);
         }
         12%{
             background: linear-gradient(45deg, #73ff00, #0079ff);
         }
         24%{
             background: linear-gradient(95deg, #73ff00, #0079ff);
         }
         36%{
             background: linear-gradient(145deg, #73ff00, #0079ff);
         }
         48%{
             background: linear-gradient(195deg, #73ff00, #0079ff);
         }
         60%{
             background: linear-gradient(245deg, #73ff00, #0079ff);
         }
         72%{
             background: linear-gradient(295deg, #73ff00, #0079ff);
         }
         100%{
             background: linear-gradient(360deg, #73ff00, #0079ff);  
         }
     }

.unavailable-seat{
    background-color: red;
    border-radius: 5px;
}
.select-seat{
    border:4px outset rgb(0, 253, 84);
    border-radius: 25px;
}


.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}

input{
    width: 200px;
    height: 35px;
    padding: .6rem;
    background-color: #fff;
    border-radius: 10px;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}